/*初始化边距*/
*{
	margin: 0;
	padding: 0;
}
/*初始化样式*/
a{
	color: #333333;
	text-decoration: none;
}
li{
	list-style: none;
}
.wrap{
	color: #333333;
	font: 12px/1.2 "微软雅黑";
	font-family: Arial,"Lucida Grande","Microsoft Yahei","Hiragino Sans GB","Hiragino Sans GB W3",SimSun,"PingFang SC",STHeiti;
	text-align: center;
	margin-bottom: 100px;
}
/*快速导航栏*/
.quick-nav{
	color: white;
	width: 100px;
	height: 455px;
	position: fixed;
	border-radius: 5px;
	right: 5%;
	top: 15%;
	background: rgba(96,164,51,.8);
	z-index: 1000;
	display: none;
}
.quick-nav li{
	height: 101px;
}
.quick-nav li:first-child{
	height: 50px;
	line-height: 50px;
}
.quick-nav li:hover{
	background: #F6A520;
}
.quick-nav a{
	height: 101px;
	display: block;
	color: white;
}
.quick-nav .iconfont{
	font-size: 40px !important;
}
.quick-nav span{
	display: block;
	padding-top:15px ;
}
/*头部bannar*/
.header-bannar{
	width: 100%;
	height: 45px;
	background: #EBEBEB;
}
.hb-contain,.logo-contain,.nav-contain,.work-list-contain,.choose-item-contain,.actual-case-contain,.master-intro-contain,.advantage-intro-contain,.footer-contain,.tech-show-contain{
	width: 1200px;
	margin: 0 auto;
	height: auto;
}
.header-bannar p,.header-bannar li{
	float: left;
	line-height: 45px;
}
.header-bannar ul{
	float: right;
}
.header-bannar ul li:nth-of-type(2){
	margin: 0 15px;
}
/*logo开始*/
.logo{
	width: 100%;
	height: 90px;
}
.logo-contain p:nth-of-type(1){
	float: left;
	color: #60A433;
	font-weight: 500;
	font-size: 32px;
	margin: 43px 10px 0px;
}
.logo-contain p:nth-of-type(2){
	float: right;
	color: #FFA64F;
	font-size: 15px;
	margin: 49px 10px 0px;
}
.logo-contain span{
	font-size: 24px;
	display: inline-block;
	margin-right: 8px;
}
.logo-contain p:nth-of-type(2) b{
	margin-right: 5px;
}
/*导航开始*/
.nav-bar{
	width: 100%;
	height: 87px;
	background: #60A433;
}
.nav-bar a{
	color: white;
	font-size: 20px;
}
.nav-bar li{
	float: left;
	height: 87px;
	border-left: 1px solid #90BF71;
	line-height: 87px;
	position: relative;
}
.nav-contain a{
	display: block;
	padding: 0 29px;
	height: 87px;
}
.nav-contain li:first-of-type a{
	padding-left: 30px;
}
.nav-contain li:last-of-type a{
	padding-right: 30px;
}
.nav-contain li:last-of-type{
	border-right: 1px solid #90BF71;
}
.nav-contain li:hover{
	background: #F6B608;
}
.nav-contain .nav-current a:last-of-type{
	height: 112px;
	background: #F6B608;
	position: absolute;
	left: 0;
	top: -25px;
}
.nav-contain .nav-current a{
	font-weight: bold;
}
.nav-current span{
	display: block;
	font-size:31px ;
	height: 34px;
}
/*中部bannar开始*/
/*contain开始*/
.contain{
	width: 100%;
	height: 520px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
/*pic开始*/
.pic,.pic a,.pic img{
	width: 100%;
	height: 520px;
}
.pic li{
	display: none;
}
/*pic结束*/
/*btn开始*/
.btn{
	width:225px;
	position: absolute;
	border-radius: 2px;
	background: rgba(255,255,255,.3);
	bottom: 15px;
	height: 20px;
	left: 41%;
}
.btn li{
	width: 45px;
	height: 5px;
	margin-right: 10px;
	border-radius: 2px;
	background: #F5F5F5;
	cursor: pointer;
	float: left;
	margin-top: 8px;
}
.btn li:nth-of-type(1){
	margin-left: 5px;
}
.btn .current{
	background: #F40;;
}
/*btn结束*/
/*contain结束*/
/*工作流程介绍*/
.work-list{
	width:100% ;
	height: 120px;
	background: #5DA32F;
}
.work-list-contain{
	position: relative;
}
.list-gener{
	position: absolute;
	width: 207px;
	height: 128px;
	background-image: url(../img/acture_03.png);
	left: 15px; top: -10px;
}
.work-list li{
	float: left;
	margin:30px 0 0 63px;
	width: 58px;
	height: 69px;
	background-image: url(../img/workflow_03.png);
}
.work-list ul li:nth-of-type(1){
	background-position: 0 0;
	margin-left: 278px;
}
.work-list ul li:nth-of-type(2){
	background-position: -116px 0;
}
.work-list ul li:nth-of-type(3){
	background-position: -237px 0;
}
.work-list ul li:nth-of-type(4){
	background-position: -355px 0;
}
.work-list ul li:nth-of-type(5){
	background-position: -472px 0;
}
.work-list ul li:nth-of-type(6){
	background-position: -591px 0;
}
.work-list ul li:nth-of-type(7){
	background-position: -711px 0;
}
.work-list ul li:nth-of-type(8){
	background-position: -825px 0;
}
/*选择项目开始*/
.choose-item{
	height: 510px;
	margin-top: 45px;
}
.choose-item li{
	float: left;
	margin-right: 58px;
	width: 307px;
	height: 364px;
	padding: 15px;
	background: #B0B0B0;
}
.choose-item li:first-child{
	margin-left: 15px;
}
.item-abstruct{
	width: 307px;
	height: 103px;
	margin-top: 13px;
	background: white;
	-moz-box-shadow:0 0 10px #B0B0B0;
	-webkit-box-shadow:0 0 10px #B0B0B0;
	box-shadow:0 0 10px #B0B0B0;
}
.item-desc{
	float: left;
	margin-left: 20px;
	margin-top: 25px;
	text-align: left;
}
.item-desc h3{
	font-size: 24px;
	color: #F6A520;
	margin-bottom: 14px;
}
.item-desc p{
	font-size: 16px;
}
.gonow{
	float: right;
	margin-right: 18px;
	margin-top: 31px;
}
.gonow a{
	display: block;
	width: 83px;
	height: 51px;
	border-radius: 5px;
	background: #D4D4D4;
	line-height: 51px;
}
.gonow .clickto{
	display: inline-block;
	font-size: 14px;
	
}
.choose-item .list-current,.list-current a{
	background: #61A433;
}
/*案例展示开始*/
.actual-case{
	height: 703px;
	width: 100%;
	background: #F3F3F3;
}
.actual-case-contain,.master-intro-contain,.advantage-intro-contain{
	position: relative;
}
.actual-title{
	width: 113px;
	height: 113px;
	border: 1px solid #F5BE64;
	border-radius: 50%;
	font-size: 28px;
	margin: 0 auto 20px;
}
.actual-case-contain,.master-intro-contain,.advantage-intro-contain{
	padding-top:38px ;
}
.actual-title p{
	color: #F5BE64;
}
.actual-title p:first-child{
	margin-top: 20px;
}
.actual-desc{
	margin-bottom: 7px;
}
.left-bar,.right-bar{
	width:400px ;
	height: 1px;
	background: #CECECE;
	position: absolute;
}
.left-bar{
	left: 0px;
	top: 180px;
}
.right-bar{
	right: 0px;
	top: 180px;
}
.actual-case li{
    width: 84px;
    height: 427px;
    overflow: hidden;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
}
.actual-case ul li:first-child{
	width: 844px;
}
.actual-case ul{
	margin-top: 28px;
}
.actual-case li:last-child{
	margin-right: 0px;
}
.actual-case img{
	display: block;
	width: 844px;
	height: 427px;
}
.actual-current{
	font-size: 15px;
	width: 18px;color: white;
	padding: 34px 12px;
	word-break: break-all;
	background: rgba(114,169,81,.8);
	position: absolute;
	left: 30px;
	top: 0;
	display: none;
}
.actual-goby{
	width: 84px;
	height: 427px;color: white;
	background: rgba(0,0,0,.7);
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
.actual-mose{
	font-size: 15px;
	width: 18px;color: white;
	padding: 34px 12px;
	word-break: break-all;
	background: rgba(0,0,0,.4);
	position: absolute;
	left: 20px;
	top: 0;
}
.actual-icon{
	position: absolute;
	left: 30px;
	bottom: 10px;
	font-size: 30px !important;
}
.actual-choose .actual-current{
	display: block;
}
.actual-choose .actual-goby{
	display: none;
}
.actual-throw .actual-goby{
	display: block;
}
.actual-throw .actual-current{
	display: none;
}
/*大师展示开始*/
.master-intro{
	height: 700px;
}
.arrow-contain{
	margin-top: 20px;
	margin-bottom: 39px;
}
.arrow-contain a{
	display: inline-block;
	width: 31px;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
}
.arrow1{
	margin-right: 7px;
	background: #F6A520;
}
.arrow2{
	background: #F6A520;
}
.arrow-current{
	background: #999999;
}
.master-img{
	width: 1200px;
	height: 360px;
	overflow: hidden;
	position: relative;
}
.master-intro ul{
	position:absolute ;
	left: 0;
	top: 0;
	width: 10000px;
	height: 360px;
}
.master-intro li{
	position: relative;
	width: 275px;
	height: 360px;
	overflow:  hidden;
	float: left;
	margin-right: 32px;
}
.master-mose{
	width: 275px;
	height: 360px;
	position: absolute;
	left: 0;
	top: 0;color: white;
	background: rgba(0,0,0,.6);
	display: none;
}
.master-img li:hover .master-mose{
	display: block;
}
.master-img h2{
	margin: 145px auto 10px;
	font-size: 20px;
	font-weight: bold;
}
.master-img p span{
	color: red;
}
.master-mose::after{
	content: "";
	border-top: 32px solid transparent;
	border-left: 32px solid transparent;
	border-right: 32px solid #F6A520;
	border-bottom: 32px solid #F6A520;
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.master-link{
	font-size: 20px !important;
	font-weight: bold;color: white;
	position: absolute;
	right: 9px;
	bottom: 8px;
	z-index: 2;
}
/*优势展示开始*/
.advantage-intro{
	height: 480px;
	background: #F3F3F3;
}
.advantage-intro-contain .actual-title p{
	margin-top: 40px;
	font-size: 30px;
}
.advantage-intro-contain .actual-desc{
	margin-bottom: 32px;
}
.advantage-item{
	height: 221px;
}
.advantage-item a{
	position: absolute;
	display: block;
	left: 0;top: 0;color: white;
	background: rgba(0,0,0,.6);
}
.advantage-item-left{
	width: 117px;
	overflow: hidden;
	margin-right: 2px;
	float: left;
	position: relative;
}
.advantage-item-left a{
	width: 117px;
	height: 221px;
}
.advantage-item-left div{
	margin-top: 36px;
}
.advantage-icon{
	width: 60px;
	height: 60px;
	margin: 11px auto 8px;
	border: 3px solid white;
	border-radius: 50%;
	font-size: 52px !important;
}
.advantage-item-right{
	width: 1080px;
	height: 221px;
	float: left;
}
.advantage-item-right li{
	float: left;
	margin: 0 2px 2px 0;
	position: relative;
}
.advantage-item-right a,.advantage-item-right li{
	width: 268px;
	height: 109px;
	overflow: hidden;
}
/*装修学堂开始*/
.t-fClassroom{
	width: 1200px;
	height: 565px;
	margin: 0 auto;
	padding-top: 35px;
	text-align: left;
}
.t-fClassroom-title>div{
	width: 400px;
	height: 135px;
	float: left;
}
.t-fClassroom-title>div:nth-child(1),
.t-fClassroom-title>div:nth-child(3){
	border-bottom: 1px solid rgba(153, 153, 153, 0.65);
}
.t-fClassroom-title>div:nth-child(2){
	text-align: center;
	color: #999;
}
.t-croom{
	width: 108px;
	height: 108px;
	border: 1px solid #f6a520;
	border-radius: 50%;
	color: #f6a520;
	font-size: 26px;
	margin: 0 auto;
	
}
.t-radius-title span{
	display: block;
	text-align: center;
	font-size: 28px;
}
.t-radius-title>span:first-child{
	margin-top: 15px;
}
.t-fClassroom-title p{
	margin-top: 15px;
	font-size: 12px;
}
.t-decoration{
	width: 1200px;
	height: 335px;
	margin: 0 auto;
	padding: 45px 0;
}
.t-dec-fonts{
    display: inline-block;
    float: right;
    line-height: 35px;
    font-size: 15px;
    color: #333;
    margin-right: 20px;
}
.t-decoration-j{
	margin-bottom: 15px;
}
.t-dec-left{
	width: auto;
	display: inline-block;
}
.t-po{
	width: 600px;
	position: relative;
	float: left;
}
.t-po img{
	display: inline-block;
	width: 300px;
}
.t-dec-opacity{
	position: absolute;
	background: #60a433;
	color: #fff;
    text-align: center;
    border: transparent;
    top: 23%;
    left: 16%;
    opacity: .8;
}
.t-dec-opacity span{
    font-size: 22px;
    margin-top: 36px;
    display: block;
}
.t-dec-right{
	float: right;
}
.t-dec-right .t-dec-opacity{
	background: orange;
}
/*设计知识*/
.t-decoration-s{
	width: 1200px;
	height: 160px;
	margin-right: -10px;
}
.t-decoration-s>div:first-child{
	display: inline-block;
	width: 140px;
	height: 160px;
	float: left;
	background: green;
	color: #fff;

	font-weight: 700;
	text-align: center;
	margin-right: 10px;
}
.t-decoration-s ul{
	display: inline-block;
	float: left;
}
.t-decoration-s ul li{
	float: left;
	margin-right: 10px;
	position: relative;
}
.t-decoration-s span{
	display: block;
	margin-top: 66px;
	font-size: 22px;
}
.t-project-hover{
	height: 34px;
	line-height: 34px;
	background: rgba(0,0,0, .4);
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 15px;
	color: #fff;
    width: 100%;
}
/*友情链接开始*/
.t-majorSuit{
	width: 100%;
	height: 330px;
	background: #f3f3f3;
	padding-top: 35px;
}
.t-majorSuit-center{
	width: 1200px;
	margin: 0 auto;
	
}
 .t-majorSuit .t-fClassroom-title p:last-child{
	margin-top: 5px;
}
.t-majorSuit-img{
	width: 1200px;
	height: auto;
	
}
.t-majorSuit-img ul{
	margin: 30px 0 50px 0;
}
.t-majorSuit-img li{
	float: left;
	margin-right: 8px;
}
.t-majorSuit-img li:last-child{
	margin: 0;
}
/*footer开始*/
.footer{
	height: 190px;
	background: #3A3A3A;
	color: #E1E1E1;
	text-align: left;
}
.footer ul{
	margin-top: 44px;
	float: left;margin-right: 60px;
}
.footer ul li{
	margin-bottom: 10px;
}
.footer ul>li:first-child{
	margin-bottom: 20px;
	font-size: 15px;
}
.footer a{
	color:#A9A9A9 ;
}
.link-code{
	margin-top: 44px;
	float: left;
}
.link-code img{
	display: block;
	float: left;
	margin-right: 25px;
}
.link-code p{
	float: left;
	margin-top: 65px;
}
#divide-line li{
	width: 1px;
	height: 110px;
	background: #4E4E4E;
}
/*tech开始*/
.tech-show{
	height: 71px;
	line-height: 71px;
	background: #212121;
	color: #A9A9A9;
}
.tech-show-contain p:first-child{
	float: left;
}
.tech-show-contain p:last-child{
	float: right;
}