*{
	margin: 0;
	padding: 0;
}
.wrap{
	text-align: center;
	margin: 100px auto;
	color: #fff;
	font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
a{
	display: block;
	text-decoration: none;
	color: #fff;
}
li{
	list-style: none;
}
/*contain开始*/
.contain{
	width: 790px;
	height: 340px;
	margin: 0 auto;
	border: 1px solid red;
	position: relative;
	overflow: hidden;
}
/*pic开始*/
.pic{
	width: 790px;
	height: 340px;
}
.pic a{
	height: 340px;
}
.pic li{
	display: none;
}
/*pic结束*/
/*btn开始*/
.btn{
	width:160px;
	position: absolute;
	border-radius: 10px;
	background: rgba(255,255,255,.3);
	bottom: 15px;
	height: 20px;
	left: 41%;
	line-height: 20px;
}
.btn li{
	padding-top: 12px;
	margin-right: 10px;
	width: 12px;
	height: 0;
	border-radius: 50%;
	background: #F5F5F5;
	cursor: pointer;
	float: left;
	margin-top: 5px;
}
.btn li:nth-of-type(1){
	margin-left: 5px;
}
.btn .current{
	background: #F40;;
}
/*btn结束*/
/*arrow开始*/
.arrow1,.arrow2{
	text-align: center;
    height: 36px;
    width: 24px;
    line-height: 36px;
    background: rgba(0,0,0,.3);
    color: #fff;
    font-size: 20px;
    display: none;
}
.arrow1{
	position: absolute;
	left: 20px;
	top: 120px;
}
.arrow2{
	position: absolute;
	right: 20px;
	top: 120px;
}
.contain:hover .arrow1{
	display: block;
}
.contain:hover .arrow2{
	display: block;
}
/*arrow结束*/
/*contain结束*/
/*添加缩略图*/
.suolue{
	width: 500px;
	height: 80px;
	position: absolute;
	left: 160px;
	bottom: 20px;
}
.suolue img,.suolue li{
	width: 120px;
	height: 80px;
}
.suolue li{
	border: 2px solid white;
	position: absolute;
	display: none;
}
.suolue li:nth-of-type(1){
	left: 110px;
	bottom: 30px;
}
.suolue li:nth-of-type(2){
	left: 125px;
	bottom: 30px;
}
.suolue li:nth-of-type(3){
	left: 150px;
	bottom: 30px;
}
.suolue li:nth-of-type(4){
	left: 175px;
	bottom: 30px;
}
.suolue li:nth-of-type(5){
	left: 200px;
	bottom: 30px;
}
.suolue li:nth-of-type(6){
	left: 225px;
	bottom: 30px;
}
.suolue li:nth-of-type(7){
	left: 250px;
	bottom: 30px;
}
.suolue li::after{
	content: "";
	width: 0;
	height: 0;
	border-bottom: 0 none;
	border-top: 8px solid #fff;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	position: absolute;
	left: 56px;
	bottom: -8px;
	z-index: 1000;
}

