*{
	margin: 0;
	padding: 0;
}
.wrap{
	width: 100%;
	height: 330px;
	margin: 50px auto;
	background-image: url(img/bg.jpg);
	overflow:hidden ;
	text-align: left;
}
h2{
	height: 57px;
	line-height: 57px;
}
a{
	display: block;
	width: 368px;
	height: 240px;
	color: black;
	font: 16px/38 "微软雅黑";
	font-weight: 100;
	text-decoration: none;
}
li{
	width: 368px;
	height: 240px;
	list-style: none;
	float: left;
	margin-right: 48px;
}
li:nth-of-type(3){
	margin-right: 0px;
}
img{
	display: block;
	width: 368px;
	height: 202px;
}
p{
	font: 16px/38px "微软雅黑";
	font-weight: 100;
	color: black;
	background: #FFFFFF;
	padding: 0 12px;
}
.banner{
	width: 1200px;
	height:297px ;
	margin: 0 auto 33px;
}
