@charset "utf-8";
html {
	background-color: #fff;
	color: #000;
	font-size: 12px
}

body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
	margin: 0;
	padding: 0
}

body,
input,
textarea,
button,
select,
pre,
xmp,
tt,
code,
kbd,
samp {
	line-height: 1.5;
	font-family: tahoma, arial, "Hiragino Sans GB", simsun, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
big,
input,
textarea,
button,
select {
	font-size: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: tahoma, arial, "Hiragino Sans GB", "微软雅黑", simsun, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
	font-weight: normal
}

address,
cite,
dfn,
em,
i,
optgroup,
var {
	font-style: normal
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left
}

caption,
th {
	text-align: inherit
}

ul,
ol,
menu {
	list-style: none
}

fieldset,
img {
	border: 0
}

img,
object,
input,
textarea,
button,
select {
	vertical-align: middle
}

article,
aside,
footer,
header,
section,
nav,
figure,
figcaption,
hgroup,
details,
menu {
	display: block
}

audio,
canvas,
video {
	display: inline-block;
	*display: inline;
	*zoom: 1
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "\0020"
}

textarea {
	overflow: auto;
	resize: vertical
}

input,
textarea,
button,
select,
a {
	outline: 0 none
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0
}

mark {
	background-color: transparent
}

a,
ins,
s,
u,
del {
	text-decoration: none
}

sup,
sub {
	vertical-align: baseline
}
/*reset end*/
.timer{
	width: 500px;
	height: 500px;
	border-radius: 50%;
	margin: 200px auto;
	background-image: url(img/timg.jpg);
	background-size: 100% 100%;
	position: relative;
}
.hourpointer{
	width: 150px;
	height: 7px;
	background: #00008B;
	border-radius: 0px 60% 50% 0;
	position: absolute;
	left: 248px;
	top: 249px;
	animation:hourmove 43200s steps(12) 0s infinite;
	-ms-animation:hourmove 43200s steps(12) 0s infinite;
	-webkit-animation:hourmove 43200s steps(12) 0s infinite;
	-moz-animation:hourmove 43200s steps(12) 0s infinite;
	transform-origin: left bottom; 
	-ms-transform-origin: left bottom; 
	-webkit-transform-origin: left bottom; 
	-moz-transform-origin: left bottom; 
}
.minitepointer{
	width: 160px;
	height: 5px;
	background: #388BFF;
	border-radius: 0px 60% 50% 0;
	position: absolute;
	left: 250px;
	top: 257px;
	animation:minitemove 3600s steps(60) 0s infinite;
	-moz-animation:minitemove 3600s steps(60) 0s infinite;
	-ms-animation:minitemove 3600s steps(60) 0s infinite;
	-webkit-animation:minitemove 3600s steps(60) 0s infinite;
	transform-origin: left bottom;  
	-ms-transform-origin: left bottom;  
	-moz-transform-origin: left bottom;  
	-webkit-transform-origin: left bottom;  
}
.secondpointer{
	width: 180px;
	height: 3px;
	background: red;
	border-radius: 0px 60% 50% 0;
	position: absolute;
	left: 248px;
	top: 254px;
	animation:secondmove 60s steps(60)  infinite;
	-ms-animation:secondmove 60s steps(60)  infinite;
	-moz-animation:secondmove 60s steps(60)  infinite;
	-webkit-animation:secondmove 60s steps(60)  infinite;
	transform-origin: left bottom;  
	-moz-transform-origin: left bottom;  
	-ms-transform-origin: left bottom;  
	-webkit-transform-origin: left bottom;  
}
.point{
	width: 20px;
	height: 20px;
	background: #008000;
	border-radius: 50%;
	position: absolute;
	left: 240px;
	top: 249px;
}
@keyframes secondmove{
	 from{  
          transform: rotateZ(-90deg);  
          }  
     to{  
          transform: rotateZ(270deg);  
                      
        }  
}
@-webkit-keyframes secondmove{
	 from{  
          transform: rotateZ(-90deg);  
          }  
     to{  
          transform: rotateZ(270deg);  
                      
        }  
}
@-ms-keyframes secondmove{
	 from{  
          transform: rotateZ(-90deg);  
          }  
     to{  
          transform: rotateZ(270deg);  
                      
        }  
}
@-webkit-keyframes secondmove{
	 from{  
          transform: rotateZ(-90deg);  
          }  
     to{  
          transform: rotateZ(270deg);  
                      
        }  
}
@keyframes minitemove{
	from{
		transform: rotateZ(-90deg);
		}
	to{
		transform: rotateZ(270deg);  
	}
} 
@-moz-keyframes minitemove{
	from{
		transform: rotateZ(-90deg);
		}
	to{
		transform: rotateZ(270deg);  
	}
}   
@-ms-keyframes minitemove{
	from{
		transform: rotateZ(-90deg);
		}
	to{
		transform: rotateZ(270deg);  
	}
} 
@-webkit-keyframes minitemove{
	from{
		transform: rotateZ(-90deg);
		}
	to{
		transform: rotateZ(270deg);  
	}
} 
@keyframes hourmove{
	from{
		transform: rotateZ(150deg);
		}
	to{
		transform: rotateZ(210deg);  
}
@-webkit-keyframes hourmove{
	from{
		transform: rotateZ(150deg);
		}
	to{
		transform: rotateZ(210deg);  
}
@-ms-keyframes hourmove{
	from{
		transform: rotateZ(150deg);
		}
	to{
		transform: rotateZ(210deg);  
}
@-webkit-keyframes hourmove{
	from{
		transform: rotateZ(150deg);
		}
	to{
		transform: rotateZ(210deg);  
}